mixin product(image, name, price, oldPrice, sale)
	.product.products-row__item
		a.more-products-href(href="#")
			if sale 
				.product__sale sale
			.product__img-container
				img.product__img(src=image)
			.product__text
				.product__name=name
				.product__price-container
					if oldPrice
						.product__old= "$" + oldPrice + ".00 USD"
					.product__price= "$" + price + ".00 USD"

mixin newProducts(head, name, price, image)
	.newProducts
		.newProducts__container
			.newProducts__new new
			.newProducts__header=head
			.newProducts__name= "New Now: " + name
			button.newProducts__buttom
				.newProducts__price= "$" + price + ".00 USD"
				.newProducts__byNow by now
		img.newProducts__img(src=image)



.products__wrapper
	.products
		.products-row
			.more-products.products-row__item
				a.more-products-href(href="#")
					.more-products__img
						svg.more-products__svg
							use(xlink:href="#fire")
					.more-products__caption Popular Product
					.more-products__description 
						.more-products__text More Produc
						.more-products__arrow 
							svg.more-products__arrowsvg
								use(xlink:href="#right-arrowDescription")
			each product in mainProducts.slice(0, 3)
				+product(product.image, product.name, product.price, product.oldPrice, product.sale)
		.products-row
			each product in mainProducts.slice(3, 5)
				if product.ctg == 'newProducts'
					+newProducts(product.head, product.name, product.price, product.image)
				else
					+product(product.image, product.name, product.price, product.oldPrice, product.sale)
		.products-row
			each product in mainProducts.slice(5, 9)
				+product(product.image, product.name, product.price, product.oldPrice, product.sale)
	.load-more.center
		a.load-more__link(href="#")
			.load-more__img
				svg.load-more__svg
					use(xlink:href="#circle-of-two-clockwise-arrows-rotation")
			.load-more__text load more
